<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS | <%= title %></title>
</head> -->
<%- include('./partials/head.ejs')  %>
<body>
    <!-- <% const name ='Node js' %> -->
    <!-- <nav>
        <div class="site-title">
             <p><%= name %></p>
            <a href="/"><h1>Node js</h1></a>
            <p>Learn about EJS</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav> -->

    <%- include('./partials/nav.ejs')  %>
    
    <div class="blogs content">
        <h2>All Blogs</h2>

        <% if (blogs.length >0) { %>
            <% blogs.forEach(blog => { %>
                
                <!-- Route params -->
                <a class="single" href="/blogs/ <%= blog._id %>">

                <h3 class="title"><%= blog.title %> </h3>
                <p class="snippet"><%= blog.snippet %></p>
                </a>
                <% }) %>
            <% } else { %>
                <p>There are no blogs to display...</p>
            <% } %>
    </div>
    <%- include('./partials/footer.ejs')  %>
    
</body>
</html>